.App {
  height: 100%;
  width: 50%;
  margin: auto;
}

main {
  height: 100%;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  padding: 0;
}

.chat h1 {
  padding: 10px 0 0 0;
}

.InputForm {
  padding: 0 0 10px 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.InputForm button {
  margin: 0 0 0 10px;

  border: none;
  outline: none;

  min-width: 70px;

  background-color: white;

  cursor: pointer;
}

.InputForm input {
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: #efefef;
  font-size: 16px;
  padding: 10px 15px;
}

p {
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .App {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  h1 {
    text-align: center;
  }
}

.qrcode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .qrcode {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .chat {
    padding: 0 0 0 10px;
  }

  .qrcode {
    padding: 0 10px 0 0;
  }

  .App {
    width: 75%;
  }
}
